<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMRSimulationWebApp</title>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link href="~/datepicker/jquery-ui.css" rel="stylesheet" />
    <script src="~/datepicker/jquery-ui.js"></script>

    <link href="~/datatables/datatables.min.css" rel="stylesheet" />
    <script src="~/datatables/datatables.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EMRSimulationWebApp.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/images/unilogo.png" alt="Federation University" style="height:50px">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button type="button" id="btnHome" class="btn btn-primary load-patient-list" data-url="@Url.Action("GetPatientList", "Patient")" style="background-color:#000000; width:100px">HOME</button>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <button type="button" id="btnLogout" class="btn btn-primary load-logout" style="background-color:#000000; width:100px">LOGOUT</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 sidebar bg-dark">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link text-light load-patient-list" data-url="@Url.Action("GetPatientList", "Patient")">Patient List</a>
                    </li>
                    <li id="toggleRecordMenu" style="display: none;">
                        <button id="toggleFlowSheet" class="menu-btn">
                            Flow Sheet <span class="arrow">▼</span>
                        </button>
                        <ul id="flowSheetMenu" class="submenu">
                            
                            <li><a href="javascript:void(0);" class="load-patient-adds" data-url="@Url.Action("GetPatientADDSList", "Patient")">ADDS Chart</a></li>
                            <li><a href="javascript:void(0);" class="load-patient-ivfluid" data-url="@Url.Action("GetPatientIvFluidChartList", "Patient")">IV Fluid Charts</a></li>

                            <!-- Medication Chart with nested items -->
                            <li>
                                <button id="toggleMedicationChart" class="menu-btn">
                                    Medication Chart <span class="arrow">▼</span>
                                </button>
                                <ul id="medicationChartMenu" class="submenu">
                                    <li><a href="javascript:void(0);" class="load-patient-prn" data-url="@Url.Action("GetPatientMedicationPrnList", "Patient")">PRN</a></li>
                                    <li><a href="javascript:void(0);" class="load-patient-regular" data-url="@Url.Action("GetPatientMedicationRegularList", "Patient")">REGULAR</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li id="toggleProgressMenu" style="display: none;">
                        <button id="toggleProgressNote" class="menu-btn">
                            Progress Note <span class="arrow">▼</span>
                        </button>

                        <ul id="progressMenu" class="submenu">
                            <li><a href="javascript:void(0);" class="load-patient-note" data-url="@Url.Action("GetProgressNoteList", "Patient")">Progress Note - List</a></li>
                            @if (User.HasClaim(c => c.Value == "student"))
                            {   
                                <li><a href="javascript:void(0);" class="load-patient-addnote" data-url="@Url.Action("GetProgressNote", "Patient")">Progress Note - Add</a></li>
                            }
                            @* @if (ViewData["supervisorId"] == null || string.IsNullOrEmpty(ViewData["supervisorId"].ToString()))
                            {
                                <li><a href="javascript:void(0);" class="load-patient-addnote" data-url="@Url.Action("GetProgressNote", "Patient")">Progress Note - Add</a></li>
                            } *@
                        </ul>
                        
                    </li>

                    @* @if (ViewData["supervisorId"] != null && !string.IsNullOrEmpty(ViewData["supervisorId"].ToString()))
                    {
                        int supervisorId;
                        if (int.TryParse(ViewData["supervisorId"].ToString(), out supervisorId) && supervisorId != 0)
                        {
                            <li id="togglePatientUsecaseMenu" style="display: none;">
                            <button id="toggleUsecase" class="menu-btn">
                                Patient Use Cases <span class="arrow">▼</span>
                            </button>

                            <ul id="usecaseMenu" class="submenu">
                                <li><a href="javascript:void(0);" class="load-member-order" data-url="@Url.Action("GetMemberOrder", "Supervisor")">Add Member Order</a></li>
                                <li><a href="javascript:void(0);" class="load-medication-prn" data-url="@Url.Action("GetMedicationPrn", "Supervisor")">Add Medication - PRN</a></li>
                                <li><a href="javascript:void(0);" class="load-medication-regular" data-url="@Url.Action("GetMedicationRegular", "Supervisor")">Add Medication - REGULAR</a></li>
                            </ul>
                        </li>

                        <li id="toggleSettingsMenu">
                            <button id="toggleSettings" class="menu-btn">
                                Settings <span class="arrow">▼</span>
                            </button>

                            <ul id="settingsMenu" class="submenu">
                                <li><a href="javascript:void(0);" class="load-add-patient" data-url="@Url.Action("GetPatient", "Supervisor")">Add Patient</a></li>
                                <li><a href="javascript:void(0);" class="load-add-medication" data-url="@Url.Action("GetMedication", "Supervisor")">Add Medication Name</a></li>
                                <li><a href="javascript:void(0);" class="load-supervisor-patient" data-url="@Url.Action("GetSupervisorPatientList", "Supervisor")">Clear Student Data</a></li>
                                <li><a href="javascript:void(0);" class="load-supervisor-lab" data-url="@Url.Action("GetSupervisorLabList", "Supervisor")">Clear Lab Data</a></li>
                            </ul>
                        </li>
                        }
                    } *@



                        @if (User.HasClaim(c => c.Value == "supervisor"))
                        {
                            <li id="togglePatientUsecaseMenu" style="display: none;">
                            <button id="toggleUsecase" class="menu-btn">
                                Patient Use Cases <span class="arrow">▼</span>
                            </button>

                            <ul id="usecaseMenu" class="submenu">
                                <li><a href="javascript:void(0);" class="load-member-order" data-url="@Url.Action("GetMemberOrder", "Supervisor")">Add Member Order</a></li>
                                <li><a href="javascript:void(0);" class="load-medication-prn" data-url="@Url.Action("GetMedicationPrn", "Supervisor")">Add Medication - PRN</a></li>
                                <li><a href="javascript:void(0);" class="load-medication-regular" data-url="@Url.Action("GetMedicationRegular", "Supervisor")">Add Medication - REGULAR</a></li>
                            </ul>
                        </li>

                        <li id="toggleSettingsMenu">
                            <button id="toggleSettings" class="menu-btn">
                                Settings <span class="arrow">▼</span>
                            </button>

                            <ul id="settingsMenu" class="submenu">
                                <li><a href="javascript:void(0);" class="load-add-patient" data-url="@Url.Action("GetPatient", "Supervisor")">Add Patient</a></li>
                                <li><a href="javascript:void(0);" class="load-add-medication" data-url="@Url.Action("GetMedication", "Supervisor")">Add Medication Name</a></li>
                                <li><a href="javascript:void(0);" class="load-supervisor-patient" data-url="@Url.Action("GetSupervisorPatientList", "Supervisor")">Clear Student Data</a></li>
                                <li><a href="javascript:void(0);" class="load-supervisor-lab" data-url="@Url.Action("GetSupervisorLabList", "Supervisor")">Clear Lab Data</a></li>
                            </ul>
                        </li>
                        }
                    

                    @* <li class="nav-item">
                        @if (ViewData["supervisorId"] == null || string.IsNullOrEmpty(ViewData["supervisorId"].ToString()))
                        {
                            <a href="javascript:void(0);"><img src="~/images/profileicon.png" />&nbsp;Student</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);"><img src="~/images/profileicon.png" />&nbsp;Supervisor</a>
                        }
                    </li> *@
                </ul>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-10 pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    window.addEventListener("beforeunload", function () {
        fetch('/Account/Logout', {
            method: 'POST',
            credentials: 'same-origin'
        });
    });

    $(document).ready(function () {
        
        $("#toggleFlowSheet").on("click", function () {
            $("#flowSheetMenu").toggleClass("show");
        });

        $("#toggleMedicationChart").on("click", function () {
            $("#medicationChartMenu").toggleClass("show");
        });
    
        $("#toggleProgressNote").on("click", function () {
            $("#progressMenu").toggleClass("show");
        });

        $("#toggleUsecase").on("click", function () {
            $("#usecaseMenu").toggleClass("show");
        });

        $("#toggleSettings").on("click", function () {
            $("#settingsMenu").toggleClass("show");
        });

        $('.load-patient-list').on('click', function (e) {
            e.preventDefault(); 
            $("#toggleRecordMenu").hide();
            $("#toggleProgressMenu").hide();
            $("#togglePatientUsecaseMenu").hide();

            $('#txtPatientId').val("");
            
            var pageUrl = $(this).data('url');
            
            var LabId = $('#txtLabId').val();

            
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId },
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#patient-header').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });


        $('.load-patient-adds').on('click', function (e) {
            e.preventDefault(); 

            
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
            var PatientId = $('#txtPatientId').val();
            
            
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId, patientId: PatientId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-patient-ivfluid').on('click', function (e) {
            e.preventDefault(); 

            
            var pageUrl = $(this).data('url');
            
            var LabId = $('#txtLabId').val();
            var PatientId = $('#txtPatientId').val();

            
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId, patientId: PatientId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-patient-prn').on('click', function (e) {
            e.preventDefault(); 

            
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
            var PatientId = $('#txtPatientId').val();

            
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId, patientId: PatientId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-patient-regular').on('click', function (e) {
            e.preventDefault(); 

            
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
            var PatientId = $('#txtPatientId').val();

            
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId, patientId: PatientId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-patient-note').on('click', function (e) {
            e.preventDefault(); 

        
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
            var PatientId = $('#txtPatientId').val();

        
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId, patientId: PatientId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });
        
        $('.load-patient-addnote').on('click', function (e) {
        e.preventDefault(); 

            var pageUrl = $(this).data('url');

            $.ajax({
                url: pageUrl,
                method: "GET",
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-member-order').on('click', function (e) {
            e.preventDefault(); 

            var pageUrl = $(this).data('url');
        
            $.ajax({
                url: pageUrl,
                method: "GET",
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });
        
        $('.load-medication-prn').on('click', function (e) {
            e.preventDefault(); 

            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
        
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });
        
        $('.load-medication-regular').on('click', function (e) {
            e.preventDefault();
        
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
        
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-supervisor-patient').on('click', function (e) {
            e.preventDefault(); 

            $("#toggleRecordMenu").hide();
            $("#toggleProgressMenu").hide();
            $("#togglePatientUsecaseMenu").hide();

            $('#txtPatientId').val("");
        
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
        
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#patient-header').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-supervisor-lab').on('click', function (e) {
            e.preventDefault(); 

            $("#toggleRecordMenu").hide();
            $("#toggleProgressMenu").hide();
            $("#togglePatientUsecaseMenu").hide();

            $('#txtPatientId').val("");
        
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
        
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#patient-header').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-add-patient').on('click', function (e) {
            e.preventDefault(); 

            $("#toggleRecordMenu").hide();
            $("#toggleProgressMenu").hide();
            $("#togglePatientUsecaseMenu").hide();

            $('#txtPatientId').val("");
            
            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
            
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#patient-header').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-add-medication').on('click', function (e) {
            e.preventDefault(); 

            $("#toggleRecordMenu").hide();
            $("#toggleProgressMenu").hide();
            $("#togglePatientUsecaseMenu").hide();

            $('#txtPatientId').val("");

            var pageUrl = $(this).data('url');

            var LabId = $('#txtLabId').val();
                
            $.ajax({
                url: pageUrl,
                method: "GET",
                data: { labId: LabId }, 
                success: function (response) {
                    
                    $('#content-area').html("");
                    $('#patient-header').html("");
                    $('#content-area').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        });

        $('.load-logout').on('click', function (event) {

            $('#txtPatientId').val("");
            $('#txtLabId').val("");

            window.location.href = "/account/emrlogin";
        });

    });
    
</script>