@{
    ViewData["Title"] = "Patient List";
}
@using EMRSimulation.Domain.Dtos;
@model PatientIvFluidChartViewModel

<div class="form-group row mb-1" style="background-color: black;color: white;">
    <div class="col-sm-7">
        <label class="col-sm-5 col-form-label">MEMBER ORDER</label>
    </div>
</div>

<div class="text-left">
    <table id="patientsIvFluidAdminTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Flask Vol</th>
                <th>IV Fluid including strength</th>
                <th>Rate</th>
                <th>Additives</th>
                <th>Officer Sign</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.ivFluidChartDtoList)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@Convert.ToDateTime(patient.Date).ToShortDateString()</td>
                    <td>@patient.FlaskVol</td>
                    <td>@patient.Strength</td>
                    <td>@patient.Rate</td>
                    <td>@patient.Dose</td>
                    <td>@patient.OfficerSign</td>
                    
                    @{
                        var actionType = "";

                        if (User.HasClaim(c => c.Value == "student"))
                        {
                            actionType = "Add Record";
                        }
                        else if (User.HasClaim(c => c.Value == "supervisor"))
                        {
                            actionType = "View Record";
                        }
                    }
                    <td>
                        <a href="javascript:void(0);" class="btn btn-primary addIvFluidAdmin" data-custom="@patient.Id" style="background-color:#FF8A30;">@actionType</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <label id="lblMessage" style="color:green"></label>
</div>

<script>

    var table = $('#patientsIvFluidAdminTable').DataTable({
        "paging": true, // Remove paging control
        "info": false, // Remove "Showing 1 to X" information
        "searching": false, // Remove search box
        "ordering": true, // Enable column ordering (if needed)
        "autoWidth": false, // Prevent auto width
        "lengthChange": false,  // Hide the entries per page dropdown
        // "pageLength": 3,  // Set the default number of entries per page (optional)
        "columnDefs": [
            {
                "targets": [0],
                "visible": false
            } // Disable sorting for the action column
        ]
    });

    $('#patientsIvFluidAdminTable').on('click', '.addIvFluidAdmin', function() {

        var ivFluidId = $(this).attr("data-custom");

        var LabId = $('#txtLabId').val();
        var PatientId = $('#txtPatientId').val();

        // Get the URL from the data-url attribute
        var pageUrl = "/patient/getpatientivfluidchart";

        // Use AJAX to load the content from the URL
        $.ajax({
            url: pageUrl,
            method: "GET",
            data: { Id: ivFluidId, labId: LabId, patientId: PatientId }, // Wrap Id in an object
            success: function (response) {
                // Load the response into the right-side content area
                $('#content-area').html("");
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                console.error("Error loading the page:", error);
            }
        });
    });
    

</script>
