@{
    ViewData["Title"] = "Patient List";
}
@using EMRSimulation.Domain.Dtos;
@model IEnumerable<IvFluidAdministrationDto>

<div class="form-group row mb-1" style="background-color: black;color: white;">
    <div class="col-sm-7">
        <label class="col-sm-5 col-form-label">NURSING ORDER LIST</label>
    </div>
</div>
<div class="text-left">
    <table id="patientsAddsTable" class="display">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Date</th>
                <th>End Time</th>
                <th>Vol Given</th>
                <th>Pharmacist Review</th>
                <th>Nurse Sign</th>
                @if (User.HasClaim(c => c.Value == "student"))
                {
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@Convert.ToDateTime(patient.StartDate).ToShortDateString()</td>
                    <td>@patient.StartTime</td>
                    <td>@Convert.ToDateTime(patient.EndDate).ToShortDateString()</td>
                    <td>@patient.EndTime</td>
                    <td>@patient.VolGiven</td>
                    <td>@patient.PharmacistReview</td>
                    <td>@patient.NurseSign</td>

                    @if (User.HasClaim(c => c.Value == "student"))
                    {
                        <td>
                            <a href="javascript:void(0);" class="btn btn-primary deleteivFluidAdmin" data-custom="@patient.Id" style="background-color:#FF8A30;">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <label id="lblMessage" style="color:green"></label>
</div>

<script>

    var table = $('#patientsAddsTable').DataTable({
        "paging": true, // Remove paging control
        "info": false, // Remove "Showing 1 to X" information
        "searching": false, // Remove search box
        "ordering": true, // Enable column ordering (if needed)
        "autoWidth": false, // Prevent auto width
        "lengthChange": false,  // Hide the entries per page dropdown
        // "pageLength": 3,  // Set the default number of entries per page (optional)
        "columnDefs": [
            {
                "targets": [0],
                "visible": false
            } // Disable sorting for the action column
        ]
    });

    var LabId = $('#txtLabId').val();
    var PatientId = $('#txtPatientId').val();

    $(".deleteivFluidAdmin").on("click", function (e) {
        e.preventDefault(); // Prevent default link behavior

        var addsId = $(this).attr("data-custom");

        $.ajax({
            type: "GET",
            url: "/patient/deleteivfluidadministration",
            contentType: "application/json",
            data: { Id: addsId }, // Wrap Id in an object
            success: function (response) {
                if (response > 0) {

                    alert("Patient Iv Fluid record deleted successfully")

                    $.ajax({
                        url: "/patient/getivfluidadministration",
                        method: "GET",
                        data: { labId: LabId, patientId: PatientId, ivFluidChartId: $('#hdnIvFluidChartId').val() }, // Wrap Id in an object
                        success: function (response) {
                            // Load the response into the right-side content area
                            $('#divlstivfluidadmin').html("");
                            $('#divlstivfluidadmin').html(response);
                        },
                        error: function (xhr, status, error) {
                            console.error("Error loading the page:", error);
                        }
                    });

                } else {
                    $('#lblMessage').text("Error")
                }
                

                console.log("Success:", response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Error:", textStatus);
            }
        });
    });
    

</script>
