@{
    ViewData["Title"] = "Patient List";
}
@using EMRSimulation.Domain.Dtos;
@model PatientDto

<div>
    <div class="patient-card" id="patientCard">
        <div class="patient-header">
            <span id="patientName">@Model.FirstName @Model.LastName </span>
        </div>
        <div class="patient-info">
            <div class="row">
                <div class="col"><strong>Weight:</strong> <span id="weight">@Model.Weight</span></div>
                <div class="col"><strong>Height:</strong> <span id="height">@Model.Height</span></div>
                <div class="col"><strong>Age:</strong> <span id="age">@Model.Age</span></div>
                <div class="col"><strong>Gender:</strong> <span id="gender">@Model.Gender</span></div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Allergy:</strong>
                    <div id="allergy">@Model.Allergy</div>
                </div>
                <div class="col">
                    <strong>Intolerance:</strong>
                    <div id="intolerance">@Model.Intolerance</div>
                </div>
            </div>
        </div>
    </div>

</div>