@using EMRSimulation.Domain.Dtos;
@model PatientIvFluidChartViewModel

<div class="container">
    <div class="row section">
        <!-- Left Column -->
        <!-- Right Column -->

        <div class="col-md-8">

            <div class="form-group row mb-1" style="background-color: black;color: white;">
                <div class="col-sm-7">
                    <label class="col-sm-5 col-form-label">MEMBER ORDER</label>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-3">
                    <label class="form-label">Date</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtMemberOrderDate" value="@Convert.ToDateTime(Model.ivFluidChartDto.Date).ToShortDateString()" disabled>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">Flask Vol.</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtMemberOrderFlask" value="@Model.ivFluidChartDto.FlaskVol" disabled>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-3">
                    <label class="form-label">IV Fluid including strength</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtMemberFluidStrength" value="@Model.ivFluidChartDto.Strength" disabled>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">Rate</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtMemberOrderRate" value="@Model.ivFluidChartDto.Rate" disabled>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-3">
                    <label class="form-label">Additives including dose</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtMemberOrderAdditives" value="@Model.ivFluidChartDto.Dose" disabled>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">Medical officer signature</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtMemberOrderMedicalOfficerSign" value="@Model.ivFluidChartDto.OfficerSign" disabled>
                </div>
            </div>

            @if (User.HasClaim(c => c.Value == "student"))
            {
                <div class="form-group row mb-1" style="background-color: black;color: white;">
                    <div class="col-sm-7">
                        <label class="col-sm-5 col-form-label">ADD NURSING ORDER</label>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-sm-3">
                        <label for="txtNursingOrderStartDate" class="form-label">Start Date</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtNursingOrderStartDate" autocomplete="off">
                    </div>
                    <div class="col-sm-3">
                        <label for="txtNursingOrderStartTime" class="form-label">Start Time</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtNursingOrderStartTime" autocomplete="off">
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-sm-3">
                        <label for="txtNursingOrderEndDate" class="form-label">End Date</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtNursingOrderEndDate" autocomplete="off">
                    </div>
                    <div class="col-sm-3">
                        <label for="txtNursingOrderEndTime" class="form-label">End Time</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtNursingOrderEndTime" autocomplete="off">
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-sm-3">
                        <label for="txtNursingOrderVolGiven" class="form-label">Vol. given : ml</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtNursingOrderVolGiven" autocomplete="off">
                    </div>
                    <div class="col-sm-3">
                        <label for="txtNursingNurseSign" class="form-label">Nurse Signature</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtNursingNurseSign" autocomplete="off">
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-sm-3">
                        <label for="txtNursingPharmacistReview" class="form-label">Pharmacist Review</label>
                    </div>
                    <div class="col-sm-6">
                        <textarea style="width:100%" id="txtNursingPharmacistReview"></textarea>
                    </div>
                </div>

                <div>
                    <label id="lblMessage" style="color:green"></label>
                    <button type="button" id="btnSaveIvFluidAdmin" class="btn btn-primary" style="background-color:#FF8A30;float: right;">Save</button>
                </div>
            }

        </div>
    </div>

    <div class="row section">
        <div class="col-md-12">
            <div id="divlstivfluidadmin"></div>
        </div>
        <input type="hidden" id="hdnIvFluidChartId" value="@Model.ivFluidChartDto.Id" />
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#txtNursingOrderStartDate").datepicker({
            dateFormat: "yy-mm-dd" // Set the format here
        });

        $("#txtNursingOrderEndDate").datepicker({
            dateFormat: "yy-mm-dd" // Set the format here
        });
    
        var LabId = $('#txtLabId').val();
        var PatientId = $('#txtPatientId').val();

        $("#btnSaveIvFluidAdmin").on("click", function (e) {
            e.preventDefault(); // Prevent default link behavior

            var txtNursingOrderStartDate = $('#txtNursingOrderStartDate').val() + "T00:00:00";
            var txtNursingOrderStartTime = $('#txtNursingOrderStartTime').val();
            var txtNursingOrderEndDate = $('#txtNursingOrderEndDate').val() + "T00:00:00";
            var txtNursingOrderEndTime = $('#txtNursingOrderEndTime').val();

            var txtNursingOrderVolGiven = $('#txtNursingOrderVolGiven').val();
            var txtNursingNurseSign = $('#txtNursingNurseSign').val();
            
            var txtNursingPharmacistReview = $('#txtNursingPharmacistReview').val();
            
            if (txtNursingOrderStartDate === "" || txtNursingOrderStartDate === "T00:00:00" || txtNursingOrderStartTime === "" 
                || txtNursingOrderEndDate === ""|| txtNursingOrderEndDate === "T00:00:00" || txtNursingOrderEndTime === "" 
                || txtNursingOrderVolGiven === "" || txtNursingNurseSign === "" || txtNursingPharmacistReview === "" ) 
            {
                e.preventDefault();
                $('#lblMessage').text("Please fill in the missing fields.");
                return;
            }

            var toPost = {
                Id: 0,
                IvFluidChartId: $('#hdnIvFluidChartId').val(),
                LabId: LabId,
                PatientId: PatientId,
                StartDate: txtNursingOrderStartDate,
                StartTime: txtNursingOrderStartTime,
                EndDate: txtNursingOrderEndDate,
                EndTime: txtNursingOrderEndTime,
                VolGiven: txtNursingOrderVolGiven,
                PharmacistReview: txtNursingPharmacistReview,
                NurseSign: txtNursingNurseSign
            };

            $.ajax({
                type: "POST",
                url: "/patient/addpatientivfluidadministration",
                contentType: "application/json",
                data: JSON.stringify(toPost), // Convert JavaScript object to JSON string
                success: function (response) {
                    if (response > 0) {
                        $('#lblMessage').text("Patient IV Fluid record added successfully")
                        getivfluidadministration();
                    } else {
                        $('#lblMessage').text("Error")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#error-message").text("Error occurred");
                }
            });
        });

        getivfluidadministration();

        function getivfluidadministration() {
            $.ajax({
                url: "/patient/getivfluidadministration",
                method: "GET",
                data: { labId: LabId, patientId: PatientId, ivFluidChartId: $('#hdnIvFluidChartId').val() }, // Wrap Id in an object
                success: function (response) {
                    // Load the response into the right-side content area
                    $('#divlstivfluidadmin').html("");
                    $('#divlstivfluidadmin').html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading the page:", error);
                }
            });
        }

    });
</script>
